<div class="row">
    <div class="col-md-3">
        <app-stock-companies></app-stock-companies>
    </div>
    <div class="col-md-9">
        <app-most-active-companies></app-most-active-companies>

        <app-recent-stack-value></app-recent-stack-value>
    </div>
</div>
<h4>News</h4>
<div class="row">
    <div class="col-md-6">
        <app-latest-hacker-news></app-latest-hacker-news>
    </div>
    <div class="col-md-6">
        <app-top-hacker-news></app-top-hacker-news>
    </div>
</div>